.marqueeWrapper {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: #000;
  color: #fff;
  padding: 1rem 0;
  position: relative;
}

.marqueeContent {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
}

.marqueeItem {
  margin: 0 2rem;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  white-space: nowrap;
  font-family: "DM Sans";
  text-transform: capitalize;
  font-style: italic;
}
