.whychooseus{
    background-color: black;
    padding: 100px 0;
    color: white;
}
.y-flex-subheadline{
    padding: 4px 10px;
    font-family: "Dm Sans";
    font-size: 14px;
    border: 1px solid rgb(113, 113, 113);
    border-radius: 30px;
}
.y-flex-col h1{
    font-size: 48px;
    font-family: "Dm Sans";
    font-weight: 500;
    line-height: 60px;
    padding-top: 15px;
}
.y-cta-button{
    background-color: white;
    color: black;
    width: 180px;
    border-radius: 30px;
    padding: 12px 32px;
    font-family: "Raleway";
    font-weight: 600;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
}
.y-cta-button:hover{
    background-color: #3f2fee;
    color: white;
    transition: all 400ms;
}
.y-flex-col-description{
    font-size: 22px;
    font-family: "Raleway";
    font-weight: 300;
    color: rgb(194, 194, 194);
}
.y-counter{
    text-align: center;
    border: 1px solid rgb(91, 91, 91);
    padding: 30px 20px;
    border-radius: 5px;
}
.y-counter h1{
    font-size: 35px;
    font-family: "Dm Sans";
    font-weight: 500;
}
.y-counter p{
    font-family: "Raleway";
    font-size: 13px;
    font-weight: 400;
    color: rgb(199, 199, 199);
}
.y-counter-container{
    padding-top: 80px;
}